.profileContainer {
  width: 100%;
  height: 180px;
  background-color: #1d9bf0;
  position: relative;
  .cover {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .avatar {
    border: 2px solid #1d9bf0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    outline: 1px solid #fff;
    position: absolute;
    bottom: -50px;
    left: 15px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
.actionBtns {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  height: 36px;
}
.actionBtns a.message {
  margin-right: 20px;
  border: 2px solid #1d9bf0;
  font-size: 21px;
  width: 50px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
}
.actionBtns a.message:hover {
  color: black;
}
.actionBtns button.follow.active {
  color: #fff;
  background-color: #1d9bf0;
}

.actionBtns button.follow {
  border: none;
  border: 2px solid #1d9bf0;
  background: transparent;
  width: 100px;
  border-radius: 25px;
  cursor: pointer;
}
.userDetails {
  margin-top: 12px;
  h4.fullName {
    font-size: 20px;
  }
  p.username {
    color: gray;
  }
  .followLinks a {
    color: gray;
    margin-top: 10px;
  }
  .followLinks a:hover {
    text-decoration: underline;
  }
  .followLinks a span {
    color: black;
    margin-right: 2px;
    font-weight: 900;
  }
}
.tab_container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    color: gray;
    &:hover {
      background-color: rgba(#1d9bf0, 0.2);
    }
  }
  a.active {
    color: #000000;
    border-bottom: 2px solid #1d9bf0;
  }
}
.followContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  div.follow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding: 15px;
  }
  .displayName {
    margin-left: 10px;
  }
  .follow .avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid blue;
  }
  .follow .avatar img {
    width: 100%;
  }
  .followBtn {
    flex: 1;
    text-align: right;
    .follow {
      border: none;
      border: 2px solid #1d9bf0;
      background: transparent;
      width: 100px;
      border-radius: 25px;
      cursor: pointer;
    }
    .active {
      color: #fff;
      background-color: #1d9bf0;
    }
  }
}
.avatar {
  position: relative;
  cursor: pointer;
  .uploadImage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    opacity: 0;
    i {
      font-size: 30px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
.profileContainer .avatar:hover .uploadImage {
  opacity: 1;
  transition: opacity 0.5s;
}
.cover {
  position: relative;
  height: 100%;
}
.cover button.uploadImage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  opacity: 0;
}
.cover button.uploadImage i {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.8);
}
.cover:hover button.uploadImage {
  opacity: 1;
  transition: opacity 0.5s;
}
.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img#avatarPreview {
  width: 100%;
  object-fit: cover;
  display: block;
  max-width: 100%;
}
#avatarUpdateModal {
  margin-top: 20px;
  .modal-dialog {
    padding: 10px 15px;
    max-height: 100vh;
    height: 60%;
    .modal-content {
      color: #0b0b0b;
      background-color: #88cebd;
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;

      margin: 140px auto 0;
      border: none;
      border-radius: 5px 5px;
      outline: none;
      display: block;
      transition: all 0.3s ease 0s;
      .modal-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h5 {
          font-size: 22px;
          font-weight: 600;
        }
        button {
          background-color: #ffffff;
          color: #000;
          font-size: 20px;
          padding: 2px 4px;
          margin-left: 280px;
        }
      }
      .modal-body {
        input {
        }
        #avatarPreviewContainer {
          img {
          }
        }
      }
      .modal-footer {
        button {
        }
      }
    }
  }
}
#coverUpdateModal {
  margin-top: 20px;
  .modal-dialog {
    padding: 10px 15px;
    max-height: 100vh;
    height: 60%;
    .modal-content {
      color: #0b0b0b;
      background-color: #88cebd;
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;

      margin: 140px auto 0;
      border: none;
      border-radius: 5px 5px;
      outline: none;
      display: block;
      transition: all 0.3s ease 0s;
      .modal-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h5 {
          font-size: 22px;
          font-weight: 600;
        }
        button {
          background-color: #ffffff;
          color: #000;
          font-size: 20px;
          padding: 2px 4px;
          margin-left: 280px;
        }
      }
      .modal-body {
        input {
        }
        #avatarPreviewContainer {
          img {
          }
        }
      }
      .modal-footer {
        button {
        }
      }
    }
  }
}
