extends ../layouts/header.pug


block title 
    title= title 
block css
        link(rel="stylesheet", href="/css/error.css")

block body
    .container
        h2 #{error.status}
        h3 Oops, nothing here...
        p Please Check the URL
        | Otherwise, 
        a(href='./login') Click here
        | to redirect to homepage.