extends ./../layouts/header.pug


block title 
        title= title 

block css
        link(rel="stylesheet", href="/css/login.css")

block jsScript 
        script (src='/js/login.js' defer)



block body 
     .wrapper 
        .login-wrapper
                h2 Register 
                
                form(action="/register",method="post" enctype='multipart/from-data')
                        //- for first name
                        div(class="login" )
                                label(for="firstName")
                                        b First Name 
                                input#firstName(type="text" ,class="from-control" placeholder="Enter Your FirstName" name="firstName" required='' )
                        p.error.firstName-error FirstName is require


                        //- for last name
                        div(class="login" )
                                label(for="lastName")
                                        b Last Name 
                                input#lastName(type="text" ,class="from-control" placeholder="Enter Your lastName" name="lastName" required='' )
                        p.error.lastName-error lastName is require


                        //- for user name
                        div(class="login" )
                                label(for="userName")
                                        b User Name 
                                input#userName(type="text" ,class="from-control" placeholder="Enter Your userName" name="userName" required='' )
                        p.error.userName-error userName is require


                        //- for email
                        div(class="login" )
                                label(for="email")
                                        b Email
                                input#email(type="text" ,class="from-control" placeholder="Enter Your email" name="email" required='' )
                        p.error.email-error Email is require


                        //- for password
                        div(class="login")
                                label(for="password")
                                        b Password  
                                input#password(type="password" ,class="from-control" placeholder="Enter Your password" name="password" required='' ) 
                        p.error.password-error Password is invalid


                        //- for confirm password
                        div(class="login")
                                label(for="confirmPassword")
                                        b Confirm Password  
                                input#confirmPassword(type="password" ,class="from-control" placeholder="Enter Your password" name="confirmPassword" required='' ) 
                        p.error.confirmPassword-error Password is invalid
                        //- profil picture
                        div(class="login")
                                label(for="profileAvatar")
                                        b Picture 
                                input#profileAvatar(type="file" ,accept="jpg, .png, .jpeg" class="from-control" placeholder="Enter Your password" name="profileAvatar" required='' ) 
                        p.error.profileAvatar-error Password is invalid

                        //- submit
                        input(type="submit" ,class="from-control" value="Register")
                
                //- link
                p Already Have an account?
                        a(href="/login") login Here