extends ./../layouts/header.pug


block title 
        title= title 

block css
        link(rel="stylesheet", href="/css/login.css")

block jsScript 
        script(src='/js/login.js' defer)



block body 
        .wrapper 
                .login-wrapper
                        h2 Reset Your Password 
                        
                        form(action="/resetPassword", method="post")
                                div(class="login" )
                                        label(for="username")
                                                b Username 
                                        input#username(type="text" class="from-control" placeholder="Enter Your username or email" name="username", value=user.username)
                                if error.username
                                        p.error #{error.username.msg}
                                
                                input(type="submit" ,class="from-control" value="Reset Now")

                                p Need to Login?
                                a(href="/login") Login Here